# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.python-version
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg
.eggs/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
hypothesis/
.cache/

# Shell scripting artifacts
*.sh~
*.swp
*.swo
*.tmp
*.orig
*.bak

# Local test scratch data
.scratch/

.codegauge/
.codegauge.toml
